# introduction on list

## create a list

In [3]:
list1 = [10,20,30,40]
list2 = ["joe", 20,"devi",22]
print("The list element  is:",list1)
print("The list element of different values:",list2)

The list element  is: [10, 20, 30, 40]
The list element of different values: ['joe', 20, 'devi', 22]

## insert element

In [4]:
list1=[10,20,30,40]
list2=["joe",20,"devi",22]
list1.insert(2,60)
list2.insert(3,"hema")
print("After insert of the element:",list1)
print("After insert of the element:",list2)

After insert of the element: [10, 20, 60, 30, 40]
After insert of the element: ['joe', 20, 'devi', 'hema', 22]

## Append element

In [5]:
list1=[10,20,30,40]
list2=["joe",20,"devi",22]
list1.append(40)
list2.append("pravin")
print("After append:",list1)
print("After append:",list2)

After append: [10, 20, 30, 40, 40]
After append: ['joe', 20, 'devi', 22, 'pravin']

## Update element

In [6]:
list1=[10,20,30,40]
list2=["joe",20,"devi",22]
list1[1]=98
list2[2]="pravin"
print("After update:",list1)
print("After update:",list2)

After update: [10, 98, 30, 40]
After update: ['joe', 20, 'pravin', 22]

## Delete element by index & value

In [11]:
list1=[10,20,30,40]
del list1[1]
print("After deletion (by index):",list1)
list2=[10,20,30,40]
list2.remove (30)
print("After deletion (by value):",list2)

After deletion (by index): [10, 30, 40]
After deletion (by value): [10, 20, 40]

## Concatenate with another list

In [12]:
list1=[10,20,30,40]
list2=["joe",20,"devi",22]
concatenate=list1+list2
print("concatenate list:",concatenate)

concatenate list: [10, 20, 30, 40, 'joe', 20, 'devi', 22]

## Length of the list

In [15]:
list1=[20,30,40,50]
print("The length of the list is:",len(list1))

The length of the list is: 4

## Copy the list

In [16]:
list1=[20,30,40,50]
copy_list=list1.copy()
print("copied list:",copy_list)

copied list: [20, 30, 40, 50]

# Operation on tuple

## Create a tuple

In [18]:
tuple=(10,20,30,40)
print(tuple)

(10, 20, 30, 40)

## Print a element by indexing

In [19]:
tuple=(10,20,30,40,50)
print("The element of the tuple is:",tuple)

The element of the tuple is: (10, 20, 30, 40, 50)

## Slicing a element

In [21]:
tuple=(10,20,30,40)
print("after silicing a element:",tuple[1:3])

after silicing a element: (20, 30)

## Concatenate a tuple with another tuple

In [22]:
tuple1=(1,2,3,4,5,6)
tuple2=(7,8)
con=tuple1+tuple2
print("concatenate of tuple:",con)

concatenate of tuple: (1, 2, 3, 4, 5, 6, 7, 8)

## Repetation

In [24]:
tuple=(10,30)
print("repetation of the tuple:",tuple*4)

repetation of the tuple: (10, 30, 10, 30, 10, 30, 10, 30)

## Membership

In [26]:
tuple=(10,30,40)
print(30 in tuple)

True

## Length

In [27]:
tuple=(10,20,30,40,)
print("the length of the tuple is:", len(tuple))

the length of the tuple is: 4

## Min & Max

In [29]:
tuple=(1,2,3,4,5)
print("the minimum number of the tuple is:",min(tuple))
print("the maximum number of the tuple is:",max(tuple))

the minimum number of the tuple is: 1
the maximum number of the tuple is: 5

## Count

In [31]:
tuple=(1,2,3,2,4,4,5,6,6,6,7,8,)
num=tuple.count(6,)
print("the number of element present in tuple is:",num)

the number of element present in tuple is: 3

# Operation on set

## create a set

In [2]:
set = {1,2,3,4,5}
print("set element:",set)

set element: {1, 2, 3, 4, 5}

## Adding An Element

In [4]:
set={1,2,3,4,5}
set.add(6,)
print("after adding an element:",set)

after adding an element: {1, 2, 3, 4, 5, 6}

## Removing An Element

In [5]:
set={1,2,3,4,5,6}
set.remove(4)
print("after remove an element:",set)

after remove an element: {1, 2, 3, 5, 6}

 ## Union (A∪B)

In [1]:
set1={1,2,3,4,5,6}
set2={3,4,5,6,7,8}
print("union:",set1|set2)

union: {1, 2, 3, 4, 5, 6, 7, 8}

 ## Intersection (A∩B)

In [3]:
set1={1,2,3,4,5}
set2={4,5,3,6,7}
print("Intersection:",set1&set2)

Intersection: {3, 4, 5}

## Difference(A-B)

In [4]:
set1={1,2,3,4,5,6}
set2={5,6,7,8,9}
print("difference:",set1-set2)

difference: {1, 2, 3, 4}

## *Symmetric Difference (A△B)*

In [5]:
se1={1,2,3,4,5}
set2={3,4,5,6,7,}
print("symmetric difference:",set1-set2)

symmetric difference: {1, 2}

## Set relations

In [6]:
set1={1,2,3,4}
set2={1,2,3,4,5,6}
print("set1 is subset of set2:",set1.issubset(set2))
print("set2 is subset of set1:",set2.issubset(set1))
print("set2 is superset of set1:",set2.issuperset(set1))
print("set1 is disjoint with {6,7}:",set1.isdisjoint({6,7}))

set1 is subset of set2: True
set2 is subset of set1: False
set2 is superset of set1: True
set1 is disjoint with {6,7}: True

## Length

In [7]:
set={1,2,3,4,5}
print("length:",len(set))

length: 5

# Operation On Dictionary

## create a dictionary

In [8]:
dict={"Name":"joe","Age":20,"city":"thanjavur"}
print("dictionary:",dict)

dictionary: {'Name': 'joe', 'Age': 20, 'city': 'thanjavur'}

## Accessing Element

In [10]:
dict={"Name":"joe","Age":20,"city":"thanjavur"}
print("Name:", dict["Name"])

Name: joe

## Updating

In [12]:
dict={"Name":"joe","Age":20,"city":"thanjavur"}
dict["Age"]=22
print("after updating age:",dict)

after updating age: {'Name': 'joe', 'Age': 22, 'city': 'thanjavur'}

## Adding element

In [13]:
dict={"Name":"joe","Age":20,"city":"thanjavur"}
dict["college"]="PMIST"
print("after adding:",dict)

after adding: {'Name': 'joe', 'Age': 20, 'city': 'thanjavur', 'college': 'PMIST'}

## Removing elements

In [15]:
dict={"Name":"joe","Age":20,"city":"thanjavur"}
dict.pop("city")
print("after pop:",dict)

after pop: {'Name': 'joe', 'Age': 20}

## Loop Through Dictionary

In [17]:
dict={"Age":19,"city":"thanjavur"}
print("keys:")
for i in dict.keys():
    print(i)

keys:
Age
city

## Dictionary Methods

In [ ]:
dict={"Name":,"joe","Age":20,"city":"thanjavur"}
print("keys:",dict.keys())
print("values:",dict.values())
print("items:",dict